@import '../../global.scss';

.skill{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .top{
        flex: 0.1;
        // border: 1px solid black;
        margin-top: 30px;

        @include mobile{
            flex: 0.1;
            margin-top: 10px;
        }
    }
    .bottom{
        flex: 0.8;
        // border: 1px solid black;
        margin-top: 30px;
        width: 68%;
        margin-bottom: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 54px;

        @include mobile{
            flex: 0.9;
            margin-top: 2px;
            margin-bottom: 50px;
            gap: 50px;
        }

        img{
            width: 100px;
            height: 100px;

            @include mobile{
                width: 75px;
                height: 75px;
            }
        }
    }
}